extends layout

block content
      h1#heading= "AI Image Generation"
      img(src="", alt="" id="out_img")
      p#subhead1 Enter Input Text 
      input(name='title', value='', type='text' id="myInput")
     
      p#subhead2 Choose Image Generator Type
      
      select#myDropdown(onchange="displayOption()")
          option(value="0") --Select--
          option(value="2") Text To Image
          option(value="3") Cyberpunk
          option(value="4") Cute Creature
      p#result

      p#pr
    
      br 
      br
    
      button#gen(onclick="saveText(); CallApi(); ") Generate Image :)
    
    
      p#out 