doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://cdnjs.deepai.org/deepai.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    script.
      var gen = "";
      var input_t = '';
      var api_key = '3057885b-8c29-49cc-9732-2dafb82461db';

      function saveText() {
        var input = document.getElementById('myInput');
        input_t = input.value;
        // console.log(input_t);
      }
      var text1  = document.getElementById("pr");

      function CallApi() {
        // Your JavaScript code here
        console.log("Button clicked! sending api request");
      
      var text = document.querySelector('#main');

      deepai.setApiKey(api_key);
      (async function() {
        var resp = await deepai.callStandardApi(gen , {
          text: input_t,
          grid_size: "1",
          height: "550",
          width: "600",
          });
           // console.log(resp);
          
          const output_url = resp['output_url'];
          // console.log(output_url)
          var out_img = document.getElementById("out_img");
          out_img.src = output_url;
          
          })()
          text1  = document.getElementById("pr");
          text1.textContent = "Please wait 15-20 secs for image generation";

      }
      function displayOption() {
        var dropdown = document.getElementById("myDropdown");
        var selectedOption = dropdown.options[dropdown.selectedIndex].text;
        var selectedValue =  dropdown.options[dropdown.selectedIndex].value;
        if (selectedOption == "--Select--"){
          document.getElementById("result").textContent = 'Please Select A Type';
        }
        else {
          document.getElementById("result").textContent = 'You have Selected : ' + selectedOption;
        }

         // console.log(selectedOption)
        if (selectedValue == 3){ 
          gen = "cyberpunk-generator"
        }
        else if (selectedValue == 2){
          gen = "text2img"
        }
        else if (selectedValue == 4){
          gen = "cute-creature-generator"
        }
      }

  body
    #pixi-container
    block content
