@font-face {
  font-family: Volkswagen-Bold;
  src: url(fonts/Volkswagen-Bold.ttf);
}
div{
  position:absolute;
}

canvas{
  top: 0;
  left: 0;
  position: static;
}


body {
  position: absolute;
  z-index:0;
  top: 12px;
  left: 12px;
  font-family: Volkswagen-Bold;
} 

button {
  width: 200px;
  height: 80px;
  border-radius:  40px;
  background-color: transparent;
  color: black;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  font-size: 30px;
  font-family: Volkswagen-Bold;
}

body{
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0px;
  align-items: center;
  flex-direction: column;
}



#myInput{
  width: 500px;
  height: 55px;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 2px solid black;
  border-radius: 40px;
  font-family: Volkswagen-Bold;
  padding: 5px 30px 5px ;
  color: #000000;
}

#myDropdown{
  padding: 10px;
  font-size: 20px;
  width: 500px;
  font-family: Volkswagen-Bold;
  border: none;
  outline: none;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

#subhead2{
  font-size: 30px;
}



#content{
  width: fit-content;
  padding: 20px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  border: none;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-family: Volkswagen-Bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  padding: 35px;

}

#cont{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding-right: 0px;
  padding-left: 50px;
  position: relative;
  padding-top: 5%;
  padding-bottom: 20px;
  background-color: transparent;
}
#gen:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background-color: #ffffff;
  color: black;
  transition: all 0.5s;
  z-index: -1;
}

#gen:hover:before{
  height: 100%;
}

#gen:hover{
  color: black;
}

#cont1{
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.o{
    background-color: black;
    color: aquamarine;
}

#main2{
  display: flex;
  flex-direction: column;
  width: 100%;
}


#p-container {
  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

body {
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  
}

body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #icon {
  opacity: 1;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}



#content{
  width: fit-content;
  padding: 20px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  border: none;
  border: 2px solid black;
  border-radius: 20px;
  font-family: Volkswagen-Bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  padding: 35px;
  position: inherit;
  
}

#subhead1{
  font-size: 30px;
  color: black;
  
}
#subhead2{
  font-size: 30px;
  color: #000000;
  
}

html {
  width: 100%;
  height: 100%;
  
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}
