@font-face {
  font-family: Volkswagen-Bold;
  src: url(fonts/Volkswagen-Bold.ttf);
}

body {
  padding: 50px;
  font-family: Volkswagen-Bold;
}

a {
  color: #00B7FF;
}

body{
  background-color: aquamarine;
}